<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Flight</title>
    <th:block th:insert="base :: header"></th:block>

</head>
<body>
<div th:replace="base :: menubar"></div>

<div class="container">
    <h1 class="text-center">Welcome to Flights Reservation Demo!</h1>
</div>

<div class="container">
    <h3 class="text-center py-3 pl-4 pr-5">All Flights</h3>

    <form th:action="@{/processSearch}"
          th:object="${search}"
          method="post">
        <div class="row">
            <div class="col">
                <select class="form-control" th:field="*{from}">
                    <option value="">Depart from:</option>
                    <option th:each="airport : ${airports}" th:value="${airport.code}" th:text="${airport.code}"></option>
                </select>
            </div>
            <div class="col">
                <select class="form-control" th:field="*{to}">
                    <option value="">Arrive to:</option>
                    <option th:each="airport : ${airports}" th:value="${airport.code}" th:text="${airport.code}"></option>
                </select>
            </div>
            <div class="col">
                <input th:field="*{date}" type="date" class="form-control" placeholder="Departure Date:">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>

    <hr/>

    <div th:if="${flightOptions}" align="center">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Date</th>
                <th scope="col">Price</th>
                <th scope="col">Aircraft</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="flight: ${flightOptions}">
                <td th:text="${flight.id}"></td>
                <td th:text="${flight.flightNumber}"></td>
                <td th:text="${flight.from.code}"></td>
                <td th:text="${flight.to.code}"></td>
                <td th:text="${flight.departure + ' - ' + flight.arrival }"></td>
                <td th:text="${'$' + flight.priceEconomy + ' ($' + flight.priceBusiness + ')' }"></td>
                <td th:text="${flight.aircraft}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="base :: footer"></div>

</body>
</html>